/target
/epc
/hello
/lexer
/self_hosted_compiler
/self_hosted_compiler_gen1
/bootstrap_helper_test
/compiled_lexer_test
/compiled_parser_test
/magic
/memory_leak_test
/string_leak_test
/shorthand_test
/runtime_test
/list_test
/logic_test
/loop_test
.DS_Store
